.memberCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.memberImageWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.piCard .memberImageWrapper {
  width: 300px;
  height: 300px;
}

.memberPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.memberRole {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
  padding: 0.2rem 0.6rem;
  border-radius: 0 0 0 10px;
  font-size: 0.7rem;
  z-index: 2;
}

.memberDetails h3 {
  margin: 0.5rem 0 0.2rem 0;
  font-size: 1.2rem;
}

.memberDetails h4 {
  margin: 0.5rem 0 0.2rem 0;
  font-size: 0.9rem;
  width: 90%;
}

.memberDetails p {
  margin: 0;
  font-size: 0.8rem;
}
