
.piSection {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.piInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .piInfo {
    flex-direction: row;
    align-items: flex-start;
  }
}

.piImageWrapper {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 250px;
}

@media (min-width: 768px) {
  .piImageWrapper {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.piPhoto {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.piDetails {
  text-align: center;
}

@media (min-width: 768px) {
  .piDetails {
    text-align: left;
  }
}

.piDetails h3 {
  margin-top: 0;
}

.piSocialLinks {
  margin-top: 1rem;
}

.piSocialLinks a {
  margin-right: 1rem;
}

.piSocialLinks img {
  width: 24px;
  height: 24px;
}
.piSocialLinks a:nth-child(2) img {
  width: 22px;
  height: 28px;
}
.piSocialLinks a:nth-child(3) img {
  width: 28px;
  height: 28px;
}
.piSocialLinks a:nth-child(4) img {
  width: 21px;
  height: 28px;
}



.memberSection {
  margin-bottom: 3rem;
}

.memberGrid {
  display: grid;
  gap: 2rem;
  justify-content: start;
}

/* Mobile */
@media (max-width: 480px) {
  .memberGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .memberGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Desktop */
@media (min-width: 769px) {
  .memberGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
