.projectCard {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.projectTitle {
  margin: 20px;
  font-size: 1.4rem;
  text-align: center;
}

.projectImageWrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  flex: 1;
  min-height: 50px;
}

.projectImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the box */
}

.projectOverlayTop,
.projectOverlayBottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projectOverlayTop {
  top: 0;
}

.projectOverlayBottom {
  bottom: 0;
  display: none; /* Hidden by default */
}

.projectCard:hover .projectOverlay {
  opacity: 1;
}

.projectSubtitle {
  margin: 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
}

.projectImageWrapper:hover .projectOverlayBottom {
  display: flex; /* Reveals on hover */
}

.comingSoonOverlay {
  width: 100%; /* Ensure full width coverage */
  text-align: center; /* Center the text */
  font-size: 20px; /* Large font size for visibility */
}
